In [1]:
import sqlite3

In [2]:
db = sqlite3.connect('candidates.sqlite')
cursor = db.cursor()
cursor.execute("DROP TABLE IF EXISTS candidates") # Convenient in case you want to start over
cursor.execute("DROP TABLE IF EXISTS contributors") # Convenient in case you want to start over

In [3]:
cursor.execute("PRAGMA foreign_keys=1")

In [4]:
cursor.execute('''CREATE TABLE candidates (
               id INTEGER PRIMARY KEY NOT NULL, 
               first_name TEXT, 
               last_name TEXT, 
               middle_init TEXT, 
               party TEXT NOT NULL)''')

db.commit() # Commit changes to the database

In [5]:
cands = []

with open('candidates.txt', "r") as f:
    next(f)
    for line in f:
        line = line.replace('\n','')
        cands.append(line.split('|'))

In [6]:
for row in cands:
    cursor.execute('''INSERT INTO candidates
               (id, first_name, last_name, middle_init, party)
               VALUES (?, ?, ?, ?, ?)''', 
                (row[0], row[1], row[2], row[3], row[4]))
    db.commit()

In [7]:
cursor.execute("SELECT * FROM candidates")
all_rows = cursor.fetchall()
print(all_rows)

[(16, 'Mike', 'Huckabee', '', 'R'), (20, 'Barack', 'Obama', '', 'D'), (22, 'Rudolph', 'Giuliani', '', 'R'), (24, 'Mike', 'Gravel', '', 'D'), (26, 'John', 'Edwards', '', 'D'), (29, 'Bill', 'Richardson', '', 'D'), (30, 'Duncan', 'Hunter', '', 'R'), (31, 'Dennis', 'Kucinich', '', 'D'), (32, 'Ron', 'Paul', '', 'R'), (33, 'Joseph', 'Biden', '', 'D'), (34, 'Hillary', 'Clinton', 'R.', 'D'), (35, 'Mitt', 'Romney', '', 'R'), (36, 'Samuel', 'Brownback', '', 'R'), (37, 'John', 'McCain', '', 'R'), (38, 'Tom', 'Tancredo', '', 'R'), (39, 'Christopher', 'Dodd', 'J.', 'D'), (41, 'Fred', 'Thompson', 'D.', 'R')]